@font-face {
  font-family: 'Tungsten';
  src: local('Tungsten-Bold') local('TungstenBold') local('Tungsten')
    url('./assets/fonts/TungstenBold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Mark.Pro.Regular.otf');
}

@font-face {
  font-display: swap;
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Mark.Pro.Medium.otf');
}

@font-face {
  font-display: swap;
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Mark.Pro.Bold.otf');
}

@font-face {
  font-display: swap;
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Mark.Pro.Black.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

body,
input,
select,
button {
  font-family: 'Mark Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

button {
  appearance: none;
  border: none;
}

#root {
  height: 100%;
  overflow: hidden;
}

.no-select {
  user-select: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

i[class^='icon-'],
i[class*='icon-'] {
  font-size: 24px;
}

a {
  text-decoration: none;
}
